@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 141px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input,
  textarea {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    outline: none;
    font-weight: 400;
    font-size: small;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:focus {
    outline: none;
  }

  input::placeholder,
  .input::placeholder {
    color: "#ADA89F";
  }

  @screen xl {
    :root {
      --header-height: 135px;
    }
  }

  .g-block {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid #ada89f;
    margin-bottom: 1rem;
  }
}

/* Spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.message-container {
  @apply border border-pale-grey rounded-md p-3 max-w-[500px] text-sm font-medium;
}
